*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
}

/* Hero */
.hero{
  background: linear-gradient(135deg, #0f172a, #d84a4a);
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.hero h1{
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p{
  font-size: 18px;
}

/* Container */
.container{
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

/* About Section */
.about p{
  text-align: center;
  color: #444;
  font-size: 17px;
  line-height: 1.6;
}

/* Fields Section */
.fields{
  background: #f4f6f8;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.card{
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  flex: 1 1 250px;
}

.card h3{
  margin-bottom: 10px;
  color: #3b82f6;
}

.card p{
  color: #555;
}

/* Tools Section */
.tools ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.tools li{
  background: #e0f2fe;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: #0369a1;
}

/* Footer */
footer{
  background: #0f172a;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* Responsive */
@media (max-width: 768px){
  .hero h1{
    font-size: 36px;
  }

  .cards{
    flex-direction: column;
  }
}
