*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
}


body{
  background: #f4f6f8;
 
}

/* Section */
.contact-section{
  padding: 60px 20px;
}

.container{
  max-width: 1100px;
  margin: auto;
}

/* Heading */
.contact-section h2{
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}

.sub-text{
  text-align: center;
  margin-bottom: 40px;
  color: #555;
}

/* Layout */
.contact-wrapper{
  display: flex;
  gap: 30px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Info */
.contact-info{
  flex: 1;
}

.contact-info h3{
  margin-bottom: 20px;
}

.contact-info p{
  margin-bottom: 10px;
  color: #333;
}

/* Form */
.contact-form{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea{
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus{
  outline: none;
  border-color: #4f46e5;
}

.contact-form button{
  padding: 12px;
  border: none;
  background: #4f46e5;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover{
  background: #4338ca;
}

/* Responsive */
@media (max-width: 768px){
  .contact-wrapper{
    flex-direction: column;
  }
}
