img{
  width: 100%;
  height: 300px;       /* MOST IMPORTANT */
  object-fit: cover;  /* ya contain */
  
}
#coding{
  height: 250px;       
}
body{
  font-family: 'Times New Roman', Times, serif;
}
p{
  font-size: 18px;
}
nav{
  height: 56px;
}